# {{ ansible_managed }}

[Unit]
Description=AWX supervisor
Wants=network-online.target

[Service]
User={{ awx_debian_user }}
Group={{ awx_debian_user }}
ExecStart=supervisord -c /etc/supervisor/awx-supervisor_task.conf
WorkingDirectory={{ awx_debian_home }}
RuntimeDirectory=supervisor

[Install]
WantedBy=multi-user.target
