# {{ ansible_managed }}

[Unit]
Description=AWX Django Callback Receiver
Wants=network-online.target

[Service]
User={{ awx_debian_user }}
Group={{ awx_debian_user }}
ExecStart=/usr/sbin/rsyslogd -n -i /var/run/awx-rsyslog/rsyslog.pid -f {{ awx_debian_home }}/rsyslog/rsyslog.conf
WorkingDirectory={{ awx_debian_home }}
RuntimeDirectory=awx-rsyslog

[Install]
WantedBy=multi-user.target
