# {{ ansible_managed }}
# AWX Settings

import os

ADMINS = ()

TIME_ZONE = 'US/Pacific'

STATIC_ROOT = '{{ awx_debian_home }}/public/static'

PROJECTS_ROOT = '{{ awx_debian_home }}/projects'

JOBOUTPUT_ROOT = '{{ awx_debian_home }}/job_status'

AWX_ANSIBLE_COLLECTIONS_PATHS = '{{ awx_debian_home }}/vendor/awx_ansible_collections'

SECRET_KEY = '{{ awx_debian_secret_key }}'

ALLOWED_HOSTS = ['*']

INTERNAL_API_URL = '{% if awx_debian_nginx_ssl %}https://{% else %}http://{% endif %}{{ awx_debian_fqdn }}'

USE_X_FORWARDED_PORT = True

AWX_TASK_ENV['HOME'] = '{{ awx_debian_home }}'

CLUSTER_HOST_ID = '{{ ansible_hostname }}'
SYSTEM_UUID = '10000000-0000-0000-0000-000000000001'

CSRF_COOKIE_SECURE = False
SESSION_COOKIE_SECURE = False

DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '{{ awx_debian_db }}',
        'USER': '{{ awx_debian_db_user }}',
        'PASSWORD': '{{ awx_debian_db_pw }}',
        'HOST': '{{ awx_debian_db_host }}',
        'PORT': '5432',
    }
}

BROKER_URL = 'unix:///var/run/redis/redis-server.sock'

CHANNEL_LAYERS = {
    "default": {
        "BACKEND": "channels_redis.core.RedisChannelLayer",
        "CONFIG": {
            "hosts": [BROKER_URL],
            "capacity": 10000,
            "group_expiry": 157784760, # 5 years
        },
    },
}

# Django Caching Configuration
DJANGO_REDIS_IGNORE_EXCEPTIONS = True
CACHES = {
    'default': {
        'BACKEND': 'django_redis.cache.RedisCache',
        'LOCATION': 'unix:/var/run/redis/redis-server.sock?db=1'
    },
}

###############################################################################
# EMAIL SETTINGS
###############################################################################

SERVER_EMAIL = '{{ awx_debian_user }}@{{ ansible_hostname }}'
DEFAULT_FROM_EMAIL = '{{ awx_debian_user }}@{{ ansible_hostname }}'
EMAIL_SUBJECT_PREFIX = '[DebIan-AWX]'

EMAIL_HOST = 'mail'
EMAIL_PORT = 25
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS = True
